@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
   --boldfont: 'Passion One', cursive;
   --cursfont: 'Caveat', cursive;
   --formalfont: Arial, sans-serif;
   --textSdw: 0px 5px 10px black, 0px 5px 20px #00000080;
   --whiteBg: #eeeeee center center no-repeat;
   --bgImg1: #eeeeee center center no-repeat fixed;
   --trans1: 150ms;
   --lhovercolor: #ffff55;
}

* {
   margin: 0px;
   padding: 0px;
   text-decoration: none;
}

a:link[rel=nofollow] {
   color: #ffffff;
}

a:visited[rel=nofollow] {
   color: #bbbbbb;
}

a:hover[rel=nofollow] {
   color: var(--lhovercolor);
   transition: var(--trans1);
}

footer a:link {
   color: #41d0ff;
}

footer a:visited {
   color: #a8dff1;
}

footer a:hover {
   color: var(--lhovercolor);
   transition: var(--trans1);
}

body {
   display: block;
   position: relative;
}

header {
   background-color: black;
   color: white;
   max-height: fit-content;
   padding: 15px;
   position: relative;
   text-align: center;
   word-wrap: normal;
}

header h1 {
   font-family: var(--boldfont);
   font-size: 6em;
   max-width: 100%;
   padding: 40px 0px 0px;
   font-variant: small-caps;
}

header p {
   font-family: var(--formalfont);
   font-size: 1.1em;
   padding: 0px 0px 50px;
}

main div {
   padding: 60px 30px;
}

ul {
   list-style-position: inside;
   list-style: none;
   padding: 30px 0px;
}

ul li {
   font: 2.5em var(--cursfont);
   font-size-adjust: inherit;
}

.bgcontainer0 {
   background: var(--whiteBg);
   background-image: url('imagens/whitebg.png');
   background-size: cover;
}

.bgcontainer1 {
   background: var(--bgImg1);
   background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg');
   background-size: cover;
   color: white;
   text-shadow: var(--textSdw);
}

.bgcontainer2 {
   background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   color: white;
   text-shadow: var(--textSdw);
}

.transpbg {
   background-color: #00000050;
   padding: 15px;
   max-width: fit-content;
}

footer {
   background-color: black;
   color: white;
   text-align: center;
   max-height: max-content;
   padding: 3px;
}

footer a {
   font-weight: bold;
   color: white;
}