@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
   --boldfont: 'Passion One', cursive;
   --cursfont: 'Caveat', cursive;
   --formalfont: Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
}

header {
   background-color: black;
   color: white;
   margin: auto;
   height: 200px;
}

header div {
   padding: 15px;
   height: 100%;
}

header h1 {
   font-family: var(--boldfont);
   font-size: 5em;
   text-align: center;
}

header p {
   display: inline-block;
   font-family: var(--formalfont);
   font-size: 1.3em;
   margin: auto;
}