@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

:root {
   --boldfont: 'Passion One', cursive;
   --cursfont: 'Caveat', cursive;
   --formalfont: Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   text-decoration: none;
}

header {
   background-color: black;
   color: white;
   height: 200px;
   padding: 15px;
   position: relative;
}

header div {
   height: 100%;
   position: relative;
}

header h1 {
   display: inline-block;
   inline-size: 100%;
   font-family: var(--boldfont);
   font-size: 6em;
   text-align: center;
   max-width: 100%;
   padding: 40px 0px 0px;
   font-variant: small-caps;
}

header p {
   display: inline-block;
   inline-size: 100%;
   font-family: var(--formalfont);
   font-size: 1.1em;
   text-align: center;
   padding: 0px 0px 50px;
}

ul {
   list-style-position: inside;
   list-style: none;
   margin: 15px;
   padding: 15px;
}

ul li {
   font: 2em var(--cursfont);
   font-size-adjust: inherit;
}

footer {
   background-color: black;
   color: white;
   text-align: center;
   height: 20px;
   padding: 3px;
}

footer a {
   font-weight: bold;
   color: white;
}

a:visited {
   color: lightblue;
}

a:hover {
   color: coral;
}